<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<base href="{{ base }}" />
	<link rel="stylesheet" href="theme/flow.css">
	<link rel="stylesheet" href="theme/core.css">
	<link rel="icon" href="theme/icon/favicon.svg">
</head>
<body>
	<div class="banner">
		<object class=dropdown id="svglogo" data="theme/icon/logo.svg" type="image/svg+xml"></object>
		{%- for header, items in headers.items() -%}
			<div class="dropdown">
				<button class="dropbtn">
					{{header}}
				</button>
				<div class="dropdown-content">
				{%- for name, link in items.items() -%}
					<a href="{{link}}">{{ name }}</a>
				{%- endfor -%}
				</div>
			</div>
		{%- endfor -%}
	</div>
		{% block content %}
		{% endblock %}
		{% block footer %}
		{% endblock %}
	</body>
</html>
